# IDE specific 
.history

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*

# compiled output
dist/

# dependencies.
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
Thumbs.db


# jest
coverage